@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
    --background: rgb(250, 250, 250);
    --foreground: rgb(0, 0, 0);
    --card: rgb(255, 255, 255);
    --card-foreground: rgb(24, 24, 24);
    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(0, 0, 0);
    --primary: rgb(63, 94, 194);
    --primary-foreground: rgb(239, 246, 255);
    --secondary: rgb(235, 235, 235);
    --secondary-foreground: rgb(34, 34, 34);
    --muted: rgb(245, 245, 245);
    --muted-foreground: rgb(82, 82, 82);
    --accent: rgb(219, 230, 246);
    --accent-foreground: rgb(20, 24, 90);
    --destructive: rgb(223, 34, 37);
    --destructive-foreground: rgb(239, 246, 255);
    --border: rgb(228, 228, 228);
    --input: rgb(235, 235, 235);
    --ring: rgb(63, 94, 194);
    --chart-1: rgb(219, 230, 246);
    --chart-2: rgb(154, 176, 229);
    --chart-3: rgb(106, 124, 205);
    --chart-4: rgb(63, 94, 194);
    --chart-5: rgb(20, 24, 90);
    --sidebar: rgb(255, 255, 255);
    --sidebar-foreground: rgb(0, 0, 0);
    --sidebar-primary: rgb(63, 94, 194);
    --sidebar-primary-foreground: rgb(239, 246, 255);
    --sidebar-accent: rgb(219, 230, 246);
    --sidebar-accent-foreground: rgb(20, 24, 90);
    --sidebar-border: rgb(228, 228, 228);
    --sidebar-ring: rgb(63, 94, 194);
    --font-sans: Geist, sans-serif;
    --font-serif: Noto Serif Georgian, ui-serif, serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0.5rem;
    --shadow-x: 0.25px;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.15;
    --shadow-color: oklch(0.2571 0.1161 272.24);
    --shadow-2xs: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.07);
    --shadow-xs: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.07);
    --shadow-sm: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
    --shadow: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
    --shadow-md: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 2px 4px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
    --shadow-lg: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 4px 6px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
    --shadow-xl: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 8px 10px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
    --shadow-2xl: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.38);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: rgb(0, 0, 0);
    --foreground: rgb(255, 255, 255);
    --card: rgb(24, 24, 24);
    --card-foreground: rgb(237, 237, 237);
    --popover: rgb(24, 24, 24);
    --popover-foreground: rgb(255, 255, 255);
    --primary: rgb(90, 125, 228);
    --primary-foreground: rgb(239, 246, 255);
    --secondary: rgb(34, 34, 34);
    --secondary-foreground: rgb(235, 235, 235);
    --muted: rgb(29, 29, 29);
    --muted-foreground: rgb(164, 164, 164);
    --accent: rgb(51, 51, 51);
    --accent-foreground: rgb(219, 230, 246);
    --destructive: rgb(255, 100, 103);
    --destructive-foreground: rgb(239, 246, 255);
    --border: rgb(36, 36, 36);
    --input: rgb(51, 51, 51);
    --ring: rgb(63, 94, 194);
    --chart-1: rgb(219, 230, 246);
    --chart-2: rgb(154, 176, 229);
    --chart-3: rgb(106, 124, 205);
    --chart-4: rgb(63, 94, 194);
    --chart-5: rgb(20, 24, 90);
    --sidebar: rgb(0, 0, 0);
    --sidebar-foreground: rgb(255, 255, 255);
    --sidebar-primary: rgb(90, 125, 228);
    --sidebar-primary-foreground: rgb(239, 246, 255);
    --sidebar-accent: rgb(51, 51, 51);
    --sidebar-accent-foreground: rgb(219, 230, 246);
    --sidebar-border: rgb(36, 36, 36);
    --sidebar-ring: rgb(63, 94, 194);
    --font-sans: Geist, sans-serif;
    --font-serif: Noto Serif Georgian, ui-serif, serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0.5rem;
    --shadow-x: 0.25px;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.15;
    --shadow-color: oklch(0.2571 0.1161 272.24);
    --shadow-2xs: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.07);
    --shadow-xs: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.07);
    --shadow-sm: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
    --shadow: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 1px 2px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
    --shadow-md: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 2px 4px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
    --shadow-lg: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 4px 6px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
    --shadow-xl: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.15), 0.25px 8px 10px -1px hsl(236.5829 64.2250% 21.4383% / 0.15);
    --shadow-2xl: 0.25px 1px 3px 0px hsl(236.5829 64.2250% 21.4383% / 0.38);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }

    h1 {
        font-family: var(--font-sans);
        font-size: 2.25rem;
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: -0.02em;
        color: var(--foreground);
    }

    h2 {
        font-family: var(--font-sans);
        font-style: normal;
        font-size: 1.75rem;
        line-height: 1.25;
        font-weight: 600;
        letter-spacing: -0.015em;
        color: var(--foreground);
    }

    h3 {
        font-family: var(--font-sans);
        font-size: 1.375rem;
        line-height: 1.3;
        font-weight: 600;
        letter-spacing: -0.01em;
        color: var(--foreground);
    }

    h4 {
        font-family: var(--font-sans);
        font-size: 1.125rem;
        line-height: 1.4;
        font-weight: 600;
        color: var(--foreground);
    }

    p {
        font-size: 1rem;
        line-height: 1.6;
        color: var(--foreground);
    }

    small, .text-caption {
        font-size: 0.75rem;
        line-height: 1.4;
        font-weight: 500;
        letter-spacing: 0.01em;
        color: var(--muted-foreground);
    }
}


.loader {
    width: 26px;
    --b: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary);
    -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l5 1s infinite;
}

@keyframes l5 {
    to {
        transform: rotate(.5turn)
    }
}